@font-face {
    font-family: 'pomeranian';
    src: url(../fonts/Pomeranian-Regular.ttf);
}

@font-face {
    font-family: 'tegaki';
    src: url(../fonts/851tegaki_zatsu_normal_0883.ttf);
}

@font-face {
    font-family: 'red-light';
    src: url(../fonts/TheRedlightFree.ttf);
}


@font-face {
    font-family: 'genjyu';
    src: url(../fonts/GenJyuuGothicL-Bold.ttf),
        url(../fonts/GenJyuuGothicL-ExtraLight.ttf),
        url(../fonts/GenJyuuGothicL-Heavy.ttf),
        url(../fonts/GenJyuuGothicL-Light.ttf)
        url(../fonts/GenJyuuGothicL-Medium.ttf),
        url(../fonts/GenJyuuGothicL-Normal.ttf),
        url(../fonts/GenJyuuGothicL-Regular.ttf);
}

*{
    font-family: 'Noto Sans JP', sans-serif;
    color: #222222;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
}

section{
    position: relative;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    z-index: 0;
    &.top{
        z-index: 99;
    }
    .content{
        position: relative;
        max-width: 1030px;
        margin: auto;
        padding: 90px 0;
        overflow-y: scroll;
        p{
            font-size: 18px;
            line-height: 40px;
            letter-spacing: 1.5px;
            font-family: "genjyu";
        }
        .introduction{
            margin-top: 60px;
        }
        .name-wrap{
            width: fit-content;
            span{
                display: block;
                font-size: 40px;
                font-weight: 500;
                letter-spacing: 0.75px;
                text-align: 
                left;
                font-family: "genjyu";
            }
            .kana{
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 1.5px;
                text-align: left;
            }
        }
        .card{
            position: absolute;
            top: 10%;
            right: 0%;
            height: 250px;
            width: 250px;
            border-radius: 50%;
            transform: translateY(-50%);
            /* 3Dにする宣言 */
            transform-style: preserve-3d;
            /* 奥行きの宣言 */
            perspective: 600px;
            transition: .5s;
            &:hover .card-front{
                transform: rotateY(-180deg);
            }
            &:hover .card-back{
                transform: rotate(0);
            }
            .card-back, .card-front{
                border-radius: 50%;
            }
            .card-front{
                height: 100%;
                width: 100%;
                background-image: url(../images/illust_icon.PNG);
                background-position: 50% 50%;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000000;
                /* 背後の面を表示させるかの宣言 */
                backface-visibility: hidden;
                transform: rotateY(0deg);
                transition: .5s;
            }
            
            .card-back{
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000000;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                transition: .5s;
                text-align: center;
                p{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;
                    font-size: 20px;
                    color: #ffffff;
                    span{
                        font-size: 20px;
                        color: #ffffff;
                    }
                }
            }
        }
        h3{
            margin: 90px 0 50px;
            font-size: 30px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 1.5px;
            text-align: center;
        }
        h4{
            margin: 0 0 50px;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1.5px;
            text-align: center;
        }
        .year_ladder{
            .year_item{
                display: flex;
                justify-content: space-between;
                column-gap: 25px;

                margin-bottom: 36px;
                &:last-child{
                    margin-bottom: 0;
                }
                .year{
                    font-size: 26px;
                    line-height: 36px;
                    font-weight: 300;
                    letter-spacing: 1.5px;
                    color: #222222;
                    white-space: nowrap;
                }
                .month-wrap{
                    width: 85%;
                    border-left: 1px solid #222222;
                    max-width: 859px;
                    .month{
                        width: 100%;
    
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        margin-bottom: 27px;
                        &:last-child{
                            margin-bottom: 0;
                        }
    
                        p{
                            width: 85%;
                            font-size: 16px;
                            line-height: 32px;
                            letter-spacing: 1.5px;
                            color: #1A1A1A;
                            font-family: "genjyu";
                            word-break: break-all;
                        }
                        span{
                            width: fit-content;
                            display: block;
                            padding: 0 3% 0 5.5%;
                            font-size: 16px;
                            line-height: 32px;
                            letter-spacing: 1.5px;
                            color: #222222;
                            font-family: "genjyu";
                        }
                    }
                }
            }
        }
        .item-wrap{
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 280px);
            column-gap: 25px;
            z-index: -1;
            .item{
                position: relative;
                width: 280px;
                height: 280px;
                margin-bottom: 30px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-color: #0028f7;
                }
                span{
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    padding: 10px;
                    background-color: #FFFFFF;
                    border-radius: 20px;
                    font-family: "genjyu";
                }
            }
        }
    }
}

h1{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #222222;
    font-family: "red-light";
}

.img-wrap{
    position: relative;
    width: 70vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    z-index: 0;
    &::before {
        content: "";         /* 疑似要素に必須 */
        width: 27vw;         /* 幅いっぱい */
        height: 100%;        /* 高さいっぱい */
        display: block;      /* 高さを指定するためにブロック要素にする */
        background: linear-gradient(90deg, rgba(255,255,255,0) 0, #fff 80%); /* 徐々に透明にする */
        position: absolute;
        top: 0;
        right: 0; 
        z-index: 1;
    }
    &::after {
        content: "";         /* 疑似要素に必須 */
        width: 27vw;         /* 幅いっぱい */
        height: 100%;        /* 高さいっぱい */
        display: block;      /* 高さを指定するためにブロック要素にする */
        background: linear-gradient(270deg, rgba(255,255,255,0) 0, #fff 80%); /* 徐々に透明にする */
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
    }
    img{
        height: 100vh;
        width: 70vw;
        object-fit: cover;
    }
}

#sns-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    column-gap: 10px;
    li{
        position: relative;
        display: inline-block;
        margin: 0.15em;
        font-size: 1.2em;
    }
    a{
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 25px;
            display: block;
            color: #fff;
            transition: all 265ms ease-out;
        }
        &:hover{
            i{
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) scale(1.5);
                color: #fff;
                transition: all 265ms ease-in;
                &.fa-instagram{
                    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.fa-twitter{
                    background: linear-gradient(43deg, #0028f7 0%, #56a1ff 46%, #f4f2f2 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.fa-github{
                    background: linear-gradient(43deg, #000000 0%, #3d4651 46%, #ffffff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.fa-pen{
                    background: linear-gradient(43deg, #057139 0%, #37ee5e 46%, #ffffff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &::before{
                transform: scale(0);
                transition: all 265ms ease-in;
            }
        }
        &.instagram::before{
            background: linear-gradient(43deg, #4158D0 0%, #C850c0 46%, #FFCC70 100%);
        }
        &.twitter::before{
            background: linear-gradient(43deg, #0028f7 0%, #56a1ff 46%, #f4f2f2 100%);
        }
        &.github::before{
            background: linear-gradient(43deg, #000000 0%, #3d4651 46%, #ffffff 100%);
        }
        &.qiita::before{
            background: linear-gradient(43deg, #057139 0%, #37ee5e 46%, #ffffff 100%);
        }
        &::before{
            transform: scale(1);
            content: "";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            transition: all 265ms ease-out;
        }
    }
}

footer{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    z-index: 1;
    &::after {
        content: "";         /* 疑似要素に必須 */
        width: 100vw;         /* 幅いっぱい */
        height: 100%;        /* 高さいっぱい */
        display: block;      /* 高さを指定するためにブロック要素にする */
        background: linear-gradient(180deg, rgba(255,255,255,0) 0, #fff 80%); /* 徐々に透明にする */
        position: absolute;  /*  */
        right: 0; 
        bottom: 0px;
        z-index: -1;
    }
}

@media screen and (max-width:  1280px) {
    h1{
        top: 85%;
        left: 50%;
        font-size: 75px;
    }
    section{
        .content{
            padding: 90px 40px;
            .name-wrap{
                span{
                    font-size: 35px;
                }
                .kana{
                    font-size: 35px;
                }
            }
            .card{
                top: 40px;
                transform: translateY(0);
                right: 40px;
                height: 200px;
                width: 200px;
            }
            .year_ladder{
                .year_item{
                    .month-wrap{
                        .month{
                            p{
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:  768px) {
    h1{
        font-size: 45px;
    }
    section{
        .content{
            .name-wrap{
                span, .kana{
                    font-size: 25px
                }
            }
            .card{
                display: none;
            }
        }
    }
}

@media screen and (max-width:  450px) {
    h1{
        position: absolute;
        top: 50%;
        left: -40%;
        transform: rotate(90deg);
        filter: drop-shadow(5px 5px 5px #222222); 
    }
    .year_ladder{
        .year_item{
            flex-direction: column;
            .year{
                margin-bottom: 20px;
                font-size: 20px;
            }
            .month-wrap .month{
                span{
                    font-size: 14px;
                }
                p{
                    width: 65%;
                    font-size: 14px;
                }
            }
        }
    }
    section{
        .content{
            p{
                line-height: 32px;
            }
        }
    }
}


/*========= ページネーションCSS ===============*/

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);
	font-size:1em;
	z-index: 10;
	list-style: none;
    z-index: 99;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:#fff;
	position:relative;
	padding:4px;
}

.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:0;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;
}

.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:"";
	position: absolute;
	margin:auto;
	top:0;
	right:3px;
	bottom:0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media screen and (max-width:768px) { 
	.pagination a .hover-text{
		display: none;
	}	
}