@charset "UTF-8";
@font-face {
  font-family: 'pomeranian';
  src: url(../fonts/Pomeranian-Regular.ttf);
}

@font-face {
  font-family: 'tegaki';
  src: url(../fonts/851tegaki_zatsu_normal_0883.ttf);
}

* {
  font-family: 'pomeranian';
  color: #222222;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
}

section {
  position: relative;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  z-index: 0;
}

section.top {
  z-index: 99;
}

section .content {
  max-width: 1030px;
  margin: auto;
  padding: 90px 0;
  overflow-y: scroll;
}

section .content p {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1.5px;
  font-family: "tegaki";
}

section .content .introduction {
  margin-top: 60px;
}

section .content .name-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section .content .name-wrap span {
  display: block;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: left;
  font-family: "tegaki";
}

section .content .name-wrap .kana {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -5px;
  text-align: left;
}

section .content .card {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* 3Dにする宣言 */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* 奥行きの宣言 */
  -webkit-perspective: 600px;
          perspective: 600px;
  -webkit-transition: .5s;
  transition: .5s;
}

section .content .card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

section .content .card:hover .card-back {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

section .content .card .card-back, section .content .card .card-front {
  border-radius: 50%;
}

section .content .card .card-front {
  height: 100%;
  width: 100%;
  background-image: url(../images/illust_icon.PNG);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  /* 背後の面を表示させるかの宣言 */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

section .content .card .card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

section .content .card .card-back p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  font-size: 20px;
  color: #ffffff;
}

section .content .card .card-back p span {
  font-size: 20px;
  color: #ffffff;
}

section .content h3 {
  margin: 90px 0 30px;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1.5px;
  font-family: "tegaki";
  text-decoration: underline;
}

section .content h4 {
  margin: 0 0 40px;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

section .content .year_ladder .year_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 36px;
}

section .content .year_ladder .year_item:last-child {
  margin-bottom: 0;
}

section .content .year_ladder .year_item .year {
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #222222;
  white-space: nowrap;
  font-family: "tegaki";
}

section .content .year_ladder .year_item .month-wrap {
  width: 85%;
  border-left: 1px solid #222222;
  max-width: 859px;
}

section .content .year_ladder .year_item .month-wrap .month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

section .content .year_ladder .year_item .month-wrap .month:last-child {
  margin-bottom: 0;
}

section .content .year_ladder .year_item .month-wrap .month p {
  width: 85%;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.5px;
  color: #1A1A1A;
  font-family: "tegaki";
}

section .content .year_ladder .year_item .month-wrap .month span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 0 3% 0 5.5%;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.5px;
  color: #222222;
  font-family: "tegaki";
}

section .content .item-wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  -webkit-column-gap: 25px;
          column-gap: 25px;
  z-index: -1;
}

section .content .item-wrap .item {
  width: 280px;
  height: 280px;
  margin-bottom: 30px;
}

section .content .item-wrap .item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #0028f7;
}

h1 {
  position: absolute;
  top: 90%;
  left: 35%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.img-wrap {
  position: relative;
  width: 100vw;
  z-index: 0;
}

.img-wrap::before {
  content: "";
  /* 疑似要素に必須 */
  width: 27vw;
  /* 幅いっぱい */
  height: 100%;
  /* 高さいっぱい */
  display: block;
  /* 高さを指定するためにブロック要素にする */
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(80%, #fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #fff 80%);
  /* 徐々に透明にする */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.img-wrap img {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#sns-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#sns-wrap li {
  position: relative;
  display: inline-block;
  margin: 0.15em;
  font-size: 1.2em;
}

#sns-wrap a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 25px;
  display: block;
  color: #fff;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

#sns-wrap a:hover i {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
          transform: translateX(-50%) translateY(-50%) scale(1.5);
  color: #fff;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

#sns-wrap a:hover i.fa-instagram {
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sns-wrap a:hover i.fa-twitter {
  background: linear-gradient(43deg, #0028f7 0%, #56a1ff 46%, #f4f2f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sns-wrap a:hover i.fa-github {
  background: linear-gradient(43deg, #000000 0%, #3d4651 46%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sns-wrap a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

#sns-wrap a.instagram::before {
  background: linear-gradient(43deg, #4158D0 0%, #C850c0 46%, #FFCC70 100%);
}

#sns-wrap a.twitter::before {
  background: linear-gradient(43deg, #0028f7 0%, #56a1ff 46%, #f4f2f2 100%);
}

#sns-wrap a.github::before {
  background: linear-gradient(43deg, #000000 0%, #3d4651 46%, #ffffff 100%);
}

#sns-wrap a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

footer {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

footer::after {
  content: "";
  /* 疑似要素に必須 */
  width: 100vw;
  /* 幅いっぱい */
  height: 100%;
  /* 高さいっぱい */
  display: block;
  /* 高さを指定するためにブロック要素にする */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(80%, #fff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 80%);
  /* 徐々に透明にする */
  position: absolute;
  /*  */
  right: 0;
  bottom: 0px;
  z-index: -1;
}

/*========= ページネーションCSS ===============*/
.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1em;
  z-index: 10;
  list-style: none;
  z-index: 99;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  padding: 4px;
}

.pagination a.active:after {
  -webkit-box-shadow: inset 0 0 0 5px;
          box-shadow: inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  right: 3px;
  bottom: 0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media screen and (max-width: 768px) {
  .pagination a .hover-text {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */